.contact-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: Raleway;

    @include element (data-block) {
        flex-basis: 50%;
        height: 89%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        padding-right: 1%;
    }

    @include element (data-input-block) {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        box-sizing: border-box;
        margin-bottom: 1rem;
    }
    @include element (data-label) {
        box-sizing: border-box;
        font-size: 1.2rem;
        position: relative;
        padding-bottom: 1rem;

        &::after{
            position: absolute;
            content: ' *';
            top: 37%;
            color: inherit;
            font-size: 3.5rem;
            line-height: 1.5rem;
            padding-left: 0.5rem;
        }
    }
    @include element (data-input) {
        height: 2rem;
        box-sizing: border-box;
    }

    @include element (message-block) {
        flex-basis: 50%;
        height: 89%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
    }
    @include element (message-textarea) {
        width: 100%;
        height: 71%;
        box-sizing: border-box;
        resize: none;
    }

    @include element (submit) {
        flex-basis: 100%;
        height: 9%;
        color: inherit;
        background-color: $section-color-dark;
        border: 1px solid $section-color-light;
        transition: 0.5s;
        cursor: pointer;
        font-size: 1.1rem;

        &:hover {
            background-color: darken($section-color-dark, 5%);
            transition: 0.5s;
        }
    }
}
