.content-section {
    width: 100%;

    @include modif(home) {
        height: 73.5vh;
    }
    @include modif(areas) {
        height: 51vh;
        min-height: 440px;
    }
    @include modif(vision) {
        height: 51vh;
        min-height: 700px;
    }
    @include modif(photo) {
        height: 73.5vh;
        min-height: 700px;
    }
    @include modif(attorneys) {
        height: 73.5vh;
        min-height: 700px;
    }
    @include modif(contacts) {
        height: 73.5vh;
        min-height: 700px;
    }
}
