@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "NoticiaText";
    src: url("../fonts/NoticiaText-Regular.ttf");
}
@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.ttf");
}
@font-face {
    font-family: "Raleway-Medium";
    src: url("../fonts/Raleway-Medium.ttf");
}
