$body-bgc-color: #FFFFFF;

$top-menu-bgc-color: #FFFFFF;
$top-menu-logo-color: #00305B;
$top-menu-nav-color: #0D0D0D;
$top-menu-active-color: rgb(15, 76, 133);;

$section-color-light: rgb(255, 255, 255);
$section-color-dark: rgb(15, 76, 133);
$section-color-overlay: rgba(15,76,133,0.6);
$section-color-overlay-ligth: rgba(15,76,133,0.07);
$section-color-overlay-white: rgba(250,250,250,0.25);
$section-color-overlay-deep: rgba(15, 76, 133, 0.8);
$section-color-overlay-inner: rgba(8, 38, 77, 0.5);
$section-header-color-dark: rgb(0, 48, 91);

$section-bgc-color-light: #FAFAFA;
$section-bgc-color-dark: rgb(0, 48, 91);
$section-li-bgc-color: #41B7C4;

$wrapper-width: 975px;
$overlay-width: 45%;
$left-block-size: 340px;
$right-block-size: 630px;
$section-padding: 5rem;
