.clouds{
    width: 100%;
    z-index: 100;
    bottom: 0;
    position: relative;
    top: -90px;
    display: inline-block;

    path{
        fill: #fff;
        bottom: -10px;
        position: absolute;
        overflow: hidden;
        stroke: #fff;
    }
}
