$body-bgc-color: #FFFFFF;

$body-color-black: rgb(0,0,0);
$body-color-dark: rgb(71, 71, 71);
$body-color-light: rgb(255, 255, 255);

$header-bgc-color: rgb(255, 255, 255);

$footer-bgc-color: rgb(255, 255, 255);
$footer-color: rgb(115, 110, 120);;

$nav-color: rgb(181, 181, 181);
$nav-color-active: rgb(255, 255, 255);
$nav-bgc-active: rgb(186, 198, 62);


$body-font-size: 10px;
$header-height: 8.1rem;

$input-border-radius: 0.2rem;
$input-height-size: 2.4rem;
$input-padding: 0.2rem 1rem;

$header-height: 8rem;
$wrapper-width: 1200px;
$transition-time: 0.3s;
$title-font-size: 1.68rem;

$content-color-grey: #999;
$content-border-color: rgb(242, 243, 245);

$card-content-color: #767676;

$social-facebook-background: #3b579d;
$social-github-background: #000000;
$social-twitter-background: #00aced;
$social-dribble-background: #ea4c89;
$social-pinterest-background: #cb2026;
