.dolor-card{
    display: block;
    color: inherit;
    text-align: left;
    padding: 1rem 5rem 1rem 9rem;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 4rem;

    @include element(title) {
        @include header4;
        color: $body-color-light;
        padding: 0;
    }
    @include element(content) {
        @include subtitle;
        color: $body-color-light;
        padding: 1rem 1rem 1rem 0;
        line-height: 2rem;
    }
    @include element(link) {
        @include subtitle;
        color: $button-bgc-color;
        padding: 1rem 0;
        position: relative;
        padding-right: 2.5rem;
        cursor: pointer;

        &::after{
            font-family: "FontAwesome5Solid";
            position: absolute;
            content: '\f101';
            right: 0rem;
            top: 1.1rem;
            padding-right: 0.5rem;
            padding-left: 1rem;
        }
    }
    @include element(icon) {
        position: absolute;
        border: 1px solid $button-bgc-color;
        color: $button-bgc-color;
        background-color: transparent;
        padding: 2rem;
        top: 1rem;
        left: 1rem;
        font-size: 2rem;
    }
}
