@mixin element ($element) {
    &__#{$element} {
        @content;
    };
};

@mixin modif ($modif) {
    &--#{$modif} {
        @content;
    };
};

@mixin header1 {
    font-family: 'Lora-Regular', serif;
    margin: 0;
    padding: 0;
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

@mixin header2 {
    font-family: 'Lora-Regular', serif;
    margin: 0;
    padding: 0;
    font-size: 1.88rem;
    font-weight: 300;
}

@mixin header3 {
    font-family: 'Lora-Regular', serif;
    margin: 0;
    padding: 0;
    font-size: 2.6rem;
    line-height: 2.8rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
}

@mixin header4 {
    font-family: 'Lora-Regular', serif;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    line-height: 1.8rem;
}
@mixin header5 {
    font-family: 'Cabin-Medium', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 0.88rem;
    line-height: 0.88rem;
    //color: $body-color-brown;
    letter-spacing: 2px;
}

