$body-bgc-color: #FFFFFF;
$body-bgc-color-dark: rgb(27, 32, 38);
$body-color-black: rgb(0,0,0);
$body-color-dark: rgb(71, 71, 71);
$body-color-light: rgb(255, 255, 255);
$footer-bgc-color: rgb(15, 22, 32);
$footer-color: rgb(168, 167, 166);
$footer-border-color: rgba(255, 255, 255, 0.1);

$nav-color: #FFFFFF;
$nav-color-active: #15AD72;

$button-bgc-color: #15AD72;
$button-color: #FFF;
$card-bgc-gray: rgb(248, 248, 248);
$overlay-bgc-color: rgba(27,32,38,.4);
$overlay-dolor-color: rgba(27,32,38,.55);
$overlay-massa-color: rgba(255,255,255,.8);
$overlay-sollicitudin-color: rgba(21,173,114,.4);

$body-font-size: 10px;
$header-height: 8.1rem;

$input-border-radius: 0.2rem;
$input-height-size: 2.4rem;
$input-padding: 0.2rem 1rem;

$header-height: 8rem;
$wrapper-width: 1200px;
$transition-time: 0.3s;
$title-font-size: 1.68rem;
