$body-bgc-color: #FFFFFF;
$body-bgc-color-dark: rgb(15, 22, 32);
$body-color-dark: rgb(71, 71, 71);
$body-color-light: rgb(255, 255, 255);

$nav-color: #FFFFFF;
$nav-color-active: #15AD72;

$button-bgc-color: #15AD72;
$button-color: #FFF;
$overlay-bgc-color: rgba(27,32,38,.55);

$body-font-size: 10px;
$header-height: 8.1rem;

$input-border-radius: 0.2rem;
$input-height-size: 2.4rem;
$input-padding: 0.2rem 1rem;

$header-height: 8rem;
$wrapper-width: 1200px;
$transition-time: 0.3s;
