<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <!--[if lt IE 10]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header class="top-menu">
            <div class="top-menu__wrapper">
                <div class="top-menu__logo">
                    <div class="logo-block">
                        <div class="logo-block__logo"></div>
                        <div class="logo-block__title">KNOLL & WALTERS LLP</div>
                    </div>
                </div>
                <nav class="top-menu__list">
                    <ul class="main-menu">
                        <li class="main-menu__item"><a href="#">home</a></li>
                        <li class="main-menu__item"><a href="#">PRACTICE AREAS</a></li>
                        <li class="main-menu__item"><a href="#">OUR VISION</a></li>
                        <li class="main-menu__item"><a href="#">ATTORNEYS</a></li>
                        <li class="main-menu__item"><a href="#">CONTACT</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="main">

        </main>
        <footer class="footer">© 2023 by Knoll & Walters LLP.</footer>
    </body>
</html>
