.header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height:$header-height;
    background-color: $body-bgc-color;
    color: $body-color-dark;
    box-sizing: border-box;
    z-index: 10000000;

    @include element (info-block) {
        width: 100%;
        height: $header-info-height;
        box-sizing: border-box;
        border-bottom: 1px solid $header-border-color;
    }

    @include element (nav-block) {
        width: 100%;
        height: $header-nav-height;
        box-sizing: border-box;
        border-bottom: 1px solid $header-border-color;
    }
    @include element (wrapper) {
        @include block-wrapper;
    }
}
