.nav-block{
    font-family: 'Cabin-Medium', sans-serif;
    width: 100%;
    height: 100%;

    @include element (logo) {
        @include header-nav-item;
        font-family: 'Lora-Regular', serif;
        font-style: italic;
        font-size: 1.9rem;
        padding: 1.5% 1%;

        @include modif (dot) {
            color: $body-color-brown;
            font-size: 1.9rem;
        }
    }
    @include element (nav) {
        @include header-nav-item;
        min-width: 60%;
        float: right;
    }
    @include element (search) {
        @include header-nav-item;
        padding: 2.4% 1%;
        float: right;
        min-width: 5%;
        color: $body-color-dark;
    }
}
