$body-bgc-color: #FFFFFF;
$body-bgc-color-dark: rgb(223,169,116);
$body-color-dark: rgb(25,25,25);

$section-color-light: rgb(244,244,244);

$footer-bgc-dark: rgb(34,39,54);
$footer-color-gray: rgb(81,84,97);
$footer-bgc-input: rgb(57,61,74);

$body-font-size: 10px;
$wrapper-width: 1200px;
$header-height: 130px;
