$body-bgc-color: #FFFFFF;
$body-bgc-color-dark: rgb(223,169,116);
$body-color-dark: rgb(25,25,25);
$body-color-brown: rgb(223, 169, 116);

$header-border-color: rgb(229, 229, 229);

$section-color-light: rgb(244,244,244);
$section-color-label: rgb(112, 112, 121);
$input-border-color: rgb(235, 235, 235);
$section-shadow-color: rgba(116, 116, 116, 0.1);

$footer-bgc-dark: rgb(34,39,54);
$footer-bgc-copyrigts: rgba(16, 20, 31, 0.2);
$footer-color-gray: rgb(81,84,97);
$footer-content-color: rgb(170, 170, 179);
$footer-bgc-input: rgb(57,61,74);
$footer-social-border: rgba(223, 169, 116, 0.3);

$body-font-size: 10px;
$wrapper-width: 1200px;
$header-height: 8.1rem;
$header-info-height: 5.0em;;
$header-nav-height: 4.8rem;
$booking-form-border-radius: 0.5rem;
$input-border-radius: 0.2rem;
$input-height-size: 2.4rem;
$section-left-width: 60%;
$section-right-width: 40%;
$input-padding: 0.2rem 1rem;
