<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--[if lt IE 10]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    </head>
    <body>
        <header class="header navbar navbar-fixed-top">
            <div class="header__wrapper row">
                <div class="container">
                    <div class="row">
                        <div class="header__logo col-lg-1">
                            <a href="#" class="header__logo-link" href="#">GOGOPO</a>
                        </div>
                        <div class="header__nav navigation col-lg-7 col-lg-offset-4 container">
                            <ul class="row navigation__list">
                                <li class="navigation__item">HOME</li>
                                <li class="navigation__item">SED EU JUSTO</li>
                                <li class="navigation__item">DOLOR NULLA</li>
                                <li class="navigation__item">ANTE VENENATIS</li>
                                <li class="navigation__item">AMET ELEMENTUM</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <section class="section section--home container-fluid">
                <div class="section__wrapper row">
                    <div class="container home">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="home__content">
                                    <h1 class="home__title">CONGUE UT TEMPOR MAGNA</h1>
                                    <p class="home__slogan">In sem convallis vitae ullamcorper ex sagittis suspendisse suscipit enim ut blandit auctor felis orci ornare eros consectetur sollicitudin lectus mi in magna.</p>
                                </div>
                                <button class="btn">DONEC MOLESTIE BLANDIT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section--sed container-fluid">
                <div class="section__wrapper row">
                    <div class="container sed">
                        <div class="row sed__wrapper">
                            <div class="col-lg-3">
                                <h2 class="sed__title">
                                    Finibus consectetur vulputate
                                </h2>
                                <p class="sed__subtitle">
                                    SED EU JUSTO AT ARCU AUCTOR RHONCUS
                                </p>
                            </div>
                            <div class="col-lg-8">
                                <p class="sed__content">
                                    Libero et suscipit sem tincidunt vitae porttitor mauris est quis hendrerit ante pharetra at donec feugiat rhoncus suscipit vivamus scelerisque sem quis aliquet condimentum dolor sem mollis magna id accumsan metus sem id odio.
                                </p>
                                <p class="sed__content">
                                    In nec massa aliquam eu libero in purus mollis ultrices et vel nunc integer aliquet libero praesent fermentum […]
                                </p>
                                <button class="btn btn--more">READ MORE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section--dolor container-fluid">
                <div class="section__wrapper row dolor">
                    <div class="container">
                        <div class="row">
                            <h2 class="dolor__title">DOLOR NULLA MATTIS</h2>
                            <p class="dolor__subtitle">Leo pretium id pretium augue molestie suspendisse</p>
                            <div class="col-lg-4 dolor-card">
                                <h3 class="dolor-card__title dolor-card__title--link">PRETIUM TURPIS A PORTA ERAT</h3>
                                <i class="dolor-card__icon dolor-card__icon--link fas fa-link"></i>
                                <p class="dolor-card__content">Nostra per inceptos himenaeos sed eu sapien auctor pharetra ligula nec pharetra lacus […]</p>
                                <a href="#" class="dolor-card__link" >View Details</a>
                            </div>
                            <div class="col-lg-4 dolor-card">
                                <h3 class="dolor-card__title dolor-card__title--link">PRETIUM TURPIS A PORTA ERAT</h3>
                                <i class="dolor-card__icon dolor-card__icon--link fas fa-ambulance"></i>
                                <p class="dolor-card__content">Nostra per inceptos himenaeos sed eu sapien auctor pharetra ligula nec pharetra lacus […]</p>
                                <a href="#" class="dolor-card__link" >View Details</a>
                            </div>
                            <div class="col-lg-4 dolor-card">
                                <h3 class="dolor-card__title dolor-card__title--link">PRETIUM TURPIS A PORTA ERAT</h3>
                                <i class="dolor-card__icon dolor-card__icon--link fas fa-chart-area"></i>
                                <p href="#" class="dolor-card__content">Nostra per inceptos himenaeos sed eu sapien auctor pharetra ligula nec pharetra lacus […]</p>
                                <a href="#" href="#" class="dolor-card__link" >View Details</a>
                            </div>
                            <div class="col-lg-4 dolor-card">
                                <h3 class="dolor-card__title dolor-card__title--link">PRETIUM TURPIS A PORTA ERAT</h3>
                                <i class="dolor-card__icon dolor-card__icon--link far fa-clock"></i>
                                <p class="dolor-card__content">Nostra per inceptos himenaeos sed eu sapien auctor pharetra ligula nec pharetra lacus […]</p>
                                <a href="#" class="dolor-card__link" >View Details</a>
                            </div>
                            <div class="col-lg-4 dolor-card">
                                <h3 class="dolor-card__title dolor-card__title--link">PRETIUM TURPIS A PORTA ERAT</h3>
                                <i class="dolor-card__icon dolor-card__icon--link fas fa-gamepad"></i>
                                <p class="dolor-card__content">Nostra per inceptos himenaeos sed eu sapien auctor pharetra ligula nec pharetra lacus […]</p>
                                <a href="#" class="dolor-card__link" >View Details</a>
                            </div>
                            <div class="col-lg-4 dolor-card">
                                <h3 class="dolor-card__title dolor-card__title--link">PRETIUM TURPIS A PORTA ERAT</h3>
                                <i class="dolor-card__icon dolor-card__icon--link fas fa-thumbs-up"></i>
                                <p class="dolor-card__content">Nostra per inceptos himenaeos sed eu sapien auctor pharetra ligula nec pharetra lacus […]</p>
                                <a href="#" class="dolor-card__link" >View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section--massa container-fluid">
                <div class="section__wrapper row massa">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3">
                                <h2 class="massa__title">
                                    MASSA DONEC
                                </h2>
                                <p class="massa__subtitle">
                                    Erat felis tempus at placerat eget elementum sit amet justo nunc luctus mattis iaculis vestibulum convallis.
                                </p>
                                <button class="btn massa__button">URNA PHARETRA</button>
                            </div>
                            <div class="col-lg-9">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-4 massa-card">
                                            <img class="massa-card__img" src="./img/01.jpg"  />
                                            <h3 class="massa-card__title">SIT AMET CONSECTETUR</h3>
                                            <a href="#" class="massa-card__link">View Details</a>
                                        </div>
                                        <div class="col-lg-4 massa-card">
                                            <img class="massa-card__img" src="./img/02.jpg"  />
                                            <h3 class="massa-card__title">ENIM LUCTUS INTEGER</h3>
                                            <a href="#" class="massa-card__link">View Details</a>
                                        </div>
                                        <div class="col-lg-4 massa-card">
                                            <img class="massa-card__img" src="./img/03.jpg"  />
                                            <h3 class="massa-card__title">TRISTIQUE ODIO IN</h3>
                                            <a href="#" class="massa-card__link">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section--ante container-fluid">
                <div class="section__wrapper row ante">
                    <div class="container">
                        <div class="row">
                            <h2 class="ante__title">ANTE VENENATIS PURUS</h2>
                            <p class="ante__subtitle">Bibendum ante neque ultrices eros ac luctus sapien</p>
                            <div class="col-lg-3 ante-card">
                                <img class="ante-card__img" src="./img/04.jpg"  />
                                <h3 class="ante-card__title">C. NAME</h3>
                                <p class="ante-card__subtitle">Duis euismod egestas risus</p>
                                <div class="ante-card__social-block">
                                    <a href="#" class="ante-card__icons ante-card__icons--twit">
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="ante-card__icons ante-card__icons--insta">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                    <a href="#" class="ante-card__icons ante-card__icons--gplus">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                    <a href="#" class="ante-card__icons ante-card__icons--vk">
                                        <i class="fab fa-vk"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 ante-card">
                                <img class="ante-card__img" src="./img/05.jpg"  />
                                <h3 class="ante-card__title">D. NAME</h3>
                                <p class="ante-card__subtitle">Vel lobortis nulla pulvinar</p>
                                <div class="ante-card__social-block">
                                    <a href="#" class="ante-card__icons ante-card__icons--twit">
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="ante-card__icons ante-card__icons--insta">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                    <a href="#" class="ante-card__icons ante-card__icons--g+">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                    <a href="#" class="ante-card__icons ante-card__icons--vk">
                                        <i class="fab fa-vk"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 ante-card">
                                <img class="ante-card__img" src="./img/06.jpg"  />
                                <h3 class="ante-card__title">E. NAME</h3>
                                <p class="ante-card__subtitle">Et aliquam laoreet sollicitudin</p>
                                <div class="ante-card__social-block">
                                    <a href="#" class="ante-card__icons ante-card__icons--twit">
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="ante-card__icons ante-card__icons--insta">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                    <a href="#" class="ante-card__icons ante-card__icons--g+">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                    <a href="#" class="ante-card__icons ante-card__icons--vk">
                                        <i class="fab fa-vk"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 ante-card">
                                <img class="ante-card__img" src="./img/07.jpg"  />
                                <h3 class="ante-card__title">F. NAME</h3>
                                <p class="ante-card__subtitle">Dolor sit amet luctus velit</p>
                                <div class="ante-card__social-block">
                                    <a href="#" class="ante-card__icons ante-card__icons--twit">
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="ante-card__icons ante-card__icons--insta">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                    <a href="#" class="ante-card__icons ante-card__icons--g+">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                    <a href="#" class="ante-card__icons ante-card__icons--vk">
                                        <i class="fab fa-vk"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section--solli container-fluid">
                <div class="section__wrapper row solli">
                    <div class="container">
                        <div class="row">
                            <h2 class="solli__title">SOLLICITUDIN QUIS LEO</h2>
                            <p class="solli__subtitle">Laoreet id etiam erat ex congue eu tincidunt a</p>
                            <div class="col-lg-6 solli-card">
                                <img class="solli-card__img" src="./img/08.jpg"  />
                                <div class="solli-card__content">
                                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae phasellus iaculis nisl sed ex lobortis bibendum quis eget nunc vivamus viverra tellus.
                                </div>
                                <h2 class="solli-card__title">G. NAME</h2>
                                <p class="solli-card__subtitle">Senectus et netus et</p>
                            </div>
                            <div class="col-lg-6 solli-card">
                                <img class="solli-card__img" src="./img/09.jpg"  />
                                <div class="solli-card__content">
                                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae phasellus iaculis nisl sed ex lobortis bibendum quis eget nunc vivamus viverra tellus.
                                </div>
                                <h2 class="solli-card__title">G. NAME</h2>
                                <p class="solli-card__subtitle">Senectus et netus et</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section--amet container-fluid">
                <div class="section__wrapper row amet">
                    <div class="container">
                        <div class="row">
                            <h2 class="amet__title">AMET ELEMENTUM NEQUE</h2>
                            <p class="amet__subtitle">Turpis egestas praesent a condimentum leo sit</p>
                            <div class="col-lg-4 amet-card">
                                <img class="amet-card__img" src="./img/10.jpg" />
                                <div class="amet-card__content">
                                    <h3 class="amet-card__title">SIT AMET CONSECTETUR</h3>
                                    <div class="amet-card__links-block">
                                        <a href="#" class="amet-card__link amet-card__link--admin">Admin</a>
                                        <a href="#" class="amet-card__link amet-card__link--label">Category Name</a>
                                    </div>
                                    <p class="amet-card__text">
                                        Sollicitudin condimentum lacus morbi vitae sapien ornare rhoncus purus vel fermentum massa nunc vitae metus risus habitant […]
                                    </p>
                                    <a href="#" class="amet-card__more">Read More</a>
                                </div>
                            </div>
                            <div class="col-lg-4 amet-card">
                                <img class="amet-card__img" src="./img/11.jpg" />
                                <div class="amet-card__content">
                                    <h3 class="amet-card__title">CONGUE CRAS DIAM EST</h3>
                                    <div class="amet-card__links-block">
                                        <a href="#" class="amet-card__link amet-card__link--admin">Admin</a>
                                        <a href="#" class="amet-card__link amet-card__link--label">Category Name</a>
                                    </div>
                                    <p class="amet-card__text">
                                        Morbi tristique senectus et netus et malesuada fames ac turpis egestas nunc eget nibh et ante finibus lacinia integer […]
                                    </p>
                                    <a href="#" class="amet-card__more">Read More</a>
                                </div>
                            </div>
                            <div class="col-lg-4 amet-card">
                                <img class="amet-card__img" src="./img/12.jpg" />
                                <div class="amet-card__content">
                                    <h3 class="amet-card__title">VOLUTPAT IN EROS SIT AMET</h3>
                                    <div class="amet-card__links-block">
                                        <a href="#" class="amet-card__link amet-card__link--admin">Admin</a>
                                        <a href="#" class="amet-card__link amet-card__link--label">Category Name</a>
                                    </div>
                                    <p class="amet-card__text">
                                        Neque sem vulputate id lacus vitae venenatis dignissim enim quisque non justo vitae eros sodales varius suspendisse […]
                                    </p>
                                    <a href="#" class="amet-card__more">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section--contacts container-fluid">
                <div class="section__wrapper row contacts">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <h2 class="contacts__title">POTENTI PROIN CONGUE</h2>
                                <div class="contacts__block">
                                <p class="contacts__text">Ornare erat a ultricies odio vestibulum nec curabitur at lacinia sapien.</p>
                                <form class="contacts__form">
                                    <input class="contacts__input" type="text" placeholder="Name" />
                                    <input class="contacts__input" type="email" placeholder="Email" />
                                    <button class="btn">submit</button>
                                </form>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <h2 class="contacts__title">VEHICULA CONSECTETUR ERAT</h2>
                                <div class="contacts__block">
                                <a href="#" class="contacts__link contacts__link--upper">SED DICTUM QUISQUE NON</a>
                                <p class="contacts__date">Friday, 6th April 2045</p>
                                    <p class="contacts__text">Dolor et posuere pretium nulla fermentum eros tincidunt sodales porttitor […]</p>
                                </div>
                                <div class="contacts__block">
                                    <a class="contacts__link" href="#">Sollicitudin ante in dignissim</a>
                                </div>
                                <div class="contacts__block">
                                    <a class="contacts__link" href="#">Leo dui at molestie sem</a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <h2 class="contacts__title">ULLAMCORPER COMMODO</h2>
                                <div class="contacts__block">
                                    <address class="contacts__text contacts__text--adress">Street Name & Number, Town, Postcode/Zip</address>
                                </div>
                                <div class="contacts__block">
                                    <p class="contacts__text contacts__text--phone">+00 (123) 456 7890</p>
                                </div>
                                <div class="contacts__block">
                                    <p class="contacts__text contacts__text--email">info@domain.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="container-fluid">
            <div class="row footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 footer__copyrights">
                            Copyright © 2020 - All Rights Reserved - Domain Name
                        </div>
                        <div class="col-lg-3 footer__link">
                            <a href="#">Template by OS Templates</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
